<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>动态详细页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../css/app.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/icons-extra.css" />
		<style type="text/css">
			.user-box {
				display: flex;
				display: -webkit-flex;
				flex-direction: row;
				width: 100%;
				padding: 10px;
				background: #FFFFFF;
			}
			
			.user-box-userinfo {
				flex: 1;
				display: flex;
				display: -webkit-flex;
				flex-direction: column;
				padding: 0px 10px;
			}
			
			.user-box-userinfo .userremark {
				font-size: 12px;
				color: #999999;
			}
			
			.createtime {
				color: #999999;
				font-size: x-small;
			}
			
			.commoditydesc {
				padding: 10px;
				background: #FFFFFF;
				font-size: 14px;
				text-indent: 2em;
				border-top: 1px solid #EFEFF4;
				width: 100%;
				text-indent: 2em;
			}
			
			.commoditydesc .item-img {
				width: 100%;
				padding: 0px;
				text-indent: 0em;
			}
			
			.commoditydesc img {
				width: 100%;
				/*max-height: 400px;*/
			}
			
			.leave-msg {
				display: flex;
				display: -webkit-flex;
				flex-direction: column;
				width: 100%;
				background: #FFFFFF;
				border-top: 8px solid #EFEFF4;
				padding: 10px;
			}
			
			.leave-msg .msg-list-title {
				font-size: 14px;
			}
			
			.userhead {
				height: 42px;
				width: 42px;
				border-radius: 50%;
				border: 1px solid #EFEFF4;
			}
			
			.username {
				font-size: 14px;
			}
			
			.circle-footer span {
				font-size: 16px;
			}
			
			i.mui-icon-closeempty {
				display: none;
			}
			
			h5 {
				color: #000000;
				border-bottom: 1px solid #EFEFF4;
				padding: 0px 0px 10px 0px;
				font-weight: bold;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a id="mui-action-back" class=" mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">动态详情</h1>
		</header>
		<div class="mui-content" style="margin-bottom: 60px;">
			<div class="user-box" style="">
				<img class="userhead" src="../../../img/temp/01.png" style="" />
				<div class="user-box-userinfo">
					<span class="username">dadjosj</span>
					<span class="userremark">个人说明</span>
				</div>
				<span class="createtime">2017-12-12</span>
			</div>
			<div id="commoditydesc" class="commoditydesc">

			</div>

			<!--留言列表-->
			<div id="leave-msg" class="leave-msg">
				<h3 class="msg-list-title">留言</h3>
				<ul class="mui-table-view" id="leave-msg-table">
					<ul id="comments" class="mui-table-view">

					</ul>
				</ul>
			</div>

		</div>

		<footer class="circle-footer">
			<div class="footer-options">
				<span id="clicklike" class="mui-icon-extra mui-icon-extra-like ">12321</span>
				<span id="comment" class="mui-icon-extra mui-icon-extra-comment"></span>
				<!--<span id="getvideo" class="mui-icon mui-icon-videocam"></span>-->
				<span class="mui-icon-extra mui-icon-extra-share"></span>
				<span style="color: #000000;" class="mui-icon mui-icon-more"></span>
			</div>
		</footer>

		<script src="../../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../../js/config.js"></script>
		<script type="text/javascript" src="../../../js/njcq.plugin.base64.js"></script>
		<script type="text/javascript" src="../../../js/njcq.plugin.time.js"></script>

		<link href="../../../js/layer_mobile/need/layer.css" />
		<script src="../../../js/layer_mobile/layer.js"></script>

		<script type="text/javascript">
			var formatter = new Formatter(),
				base64 = new Base64(),
				config = config(),
				wv = null,
				wo = null,
				pkey = null;
			var userInfo = config.fGetLoginUserInfo();
			mui.init()
			mui.plusReady(function() {
				wv = plus.webview.currentWebview();
				pkey = wv.pkey;
				//初始化详细页面
				fnInitialDetail(pkey);

				fnInitComments(pkey);

				fnDianZan();
				fnComment();
				document.getElementById('mui-action-back').addEventListener('tap',function(){
					plus.webview.currentWebview().close();
				});
			});

			function fnComment() {
				var comBtn = document.getElementById('comment');
				comBtn.addEventListener('tap', function(e) {
					e.detail.gesture.preventDefault(); //修复iOS 8.x平台存在的bug，使用plus.nativeUI.prompt会造成输入法闪一下又没了

					checklogin(function() {
						layer.open({
							type: 1,
							skin: 'layui-layer-rim', //加上边框
							btn: ['确定', '取消'],
							content: '<h6 class="" style="padding:0px 10px 0px 20px">添加留言</h6><div class="msg-box"><textarea id="comment-field" type="text" class="comment-field" placeholder="点我，说点什么吧！"></textarea></div>',
							anim: 'up',
							style: '  padding:10px 0px 0px 0px; border:none;',
							yes: function(index) {
								var commenttx = document.getElementById("comment-field");
								var text = commenttx.value;
								var ukey = userInfo.PrimaryKey;
								config.fPost({
									link: '/ActivityShareComment/Add',
									params: {
										PrimaryKey: "12321321",
										CommentContext: text,
										CustomerKey: ukey,
										ActivityShareKey: pkey,
										Remark: "车友圈-留言"
									},
									callback: function(res) {
										var data = JSON.parse(res).Data;
										if(data) {
											// 更新留言列表
											var table = document.getElementById("comments");

											var li = document.createElement('li');
											li.setAttribute('class', 'mui-table-view-cell mui-media');
											var html = '';
											html += '<a href="javascript:;">';
											html += '	<img class="mui-media-object mui-pull-left userhead" src="' + userInfo.HeadImageUrl + '">';
											html += '	<div class="mui-media-body">';
											html += '		<div>';
											html += '			<span class="username">' + userInfo.UserNickName + '</span>';
											html += '			<span class="createtime" style="float: right;">';
											html += '      		' + formatter.fGetFormatterTimeStr(formatter.fGetTimestampFormDateTime(data.CreateTime));
											html += '      		</span>';
											html += '		</div>';
											html += '		<p class="" style="white-space: pre-wrap;font-size: 12px;">' + data.CommentContext + '</p>';
											html += '	</div>';
											html += '</a>';
											li.innerHTML = html;

											table.insertBefore(li, table.childNodes[0]);
											mui.toast('留言成功！', {
												duration: 'short',
												type: 'div'
											});
										} else {
											//提示留言失败
											mui.toast('留言操作失败！', {
												duration: 'short',
												type: 'div'
											});
										}
										layer.close(0);
									}
								});
							},
							close: function(index) {

							}
						});
					});

				}, false);
			}

			var checklogin = function(callback) {
				if(config.fGetLoginUserInfo() == null) {
					plus.nativeUI.closeWaiting();
					var btnArray = ['取消', '登录'];
					mui.confirm('您尚未登录，请先 登录/注册 后再操作！', '登录提示',
						btnArray,
						function(e) {
							if(e.index == 1) {
								mui.openWindow({
									url: "../../ucenter/login/login.html",
									id: 'ucenter_login.html',
									preload: true,
									createNew: false, //是否重复创建同样id的webview，默认为false:不重复创建，直接显示
									show: {
										aniShow: 'pop-in'
									},
									styles: {
										popGesture: 'hide'
									},
									waiting: {
										autoShow: false, //自动显示等待框，默认为true
									}
								});
								return;
							} else {
								//								alert('取消操作');
							}
						});
					return;
				} else {
					return callback();
				}
			}

			function fnDianZan() {
				document.getElementById('clicklike').addEventListener('tap', function() {
					var self = this;
					plus.nativeUI.showWaiting('请求中，请稍后..');
					checklogin(function() {
						var pkey = self.getAttribute('rel');
						var ukey = userInfo.PrimaryKey;

						var url = '';
						var active = self.className.indexOf('dianzan-active') > -1;
						if(active) {
							//							self.classList.remove('dianzan-active');
							url = '/ActivityShare/' + pkey + '/' + ukey + '/CancelClickGood'
						} else {
							url = '/ActivityShare/' + pkey + '/' + ukey + '/ClickGood'
						}
						config.fGet({
							link: url,
							callback: function(res) {
								var data = JSON.parse(res).Data;
								if(data) {
									if(active) {
										self.classList.remove('dianzan-active');
										document.getElementById('clicklike').innerText = parseInt(document.getElementById('clicklike').innerText) - 1;
									} else {
										self.classList.add('dianzan-active');
										document.getElementById('clicklike').innerText = parseInt(document.getElementById('clicklike').innerText) + 1;
									}
									plus.nativeUI.toast(active ? '已取消点赞' : '点赞操作成功！');
								}
								plus.nativeUI.closeWaiting();
							}
						})

					});
				});

			}

			function fnInitComments(pkey) {
				config.fPost({
					link: '/ActivityShareComment/ShareComments',
					params: {
						actShareKey: pkey
					},
					callback: function(res) {
						var data = JSON.parse(res).Data.data;
						if(data && data.length > 0) {
							var comments = document.getElementById('comments');
							for(var i = 0; i < data.length; i++) {
								var li = document.createElement('li');
								li.setAttribute('class', 'mui-table-view-cell mui-media');
								var html = '';
								html += '<a href="javascript:;">';
								html += '	<img class="mui-media-object mui-pull-left userhead" src="' + data[i].CustomerHeadImage + '">';
								html += '	<div class="mui-media-body">';
								html += '		<div>';
								html += '			<span class="username">' + data[i].CustomerNickName + '</span>';
								html += '			<span class="createtime" style="float: right;">';
								html += '      		' + formatter.fGetFormatterTimeStr(formatter.fGetTimestampFormDateTime(data[i].CreateTime));
								html += '      		</span>';
								html += '		</div>';
								html += '		<p class="" style="white-space: pre-wrap;font-size: 12px;">' + data[i].CommentContext + '</p>';
								html += '	</div>';
								html += '</a>';
								li.innerHTML = html;
								comments.appendChild(li);
							}
						}
					}
				});
			}

			function fnInitialDetail(pkey) {
				if(!pkey) {
					mui.back();
				}

				document.querySelector('span.mui-icon-extra-like').setAttribute('rel', pkey);

				var ukey = '01AD2984-E5EA-4E4E-A167-1E4DB9ECFE1D';
				if(config.fGetLoginUserInfo())
					ukey = config.fGetLoginUserInfo().PrimaryKey;
				plus.nativeUI.showWaiting('加载中...');
				config.fGet({
					link: '/ActivityShare/' + pkey + '/' + ukey + '/Detail',
					callback: function(res) {
						var data = JSON.parse(res).Data;
						if(data) {
							var commoditydesc = document.getElementById('commoditydesc');
							if(data.HasClickLike) {
								document.getElementById('clicklike').classList.add('dianzan-active');
							}
							document.getElementById('clicklike').innerText = data.ClickLike || 0;
							document.getElementById('comment').innerText = data.CommentCount || 0;

							var title = data.ActTitle;
							var showImage = data.ShowImage;
							var desc = data.ActDesc;

							var _html = '';
							try {
								if(title && title != '' && title.length > 0) { //初始化文章类型 html

									_html += '<h5>' + title + '</h5>';

									//	try {
									if(desc.split('|').length > 0) {
										var temp = desc.split('|'); //图文混合
										var base64_texts = temp[0];
										var base64_imagehtml = temp[1];

										var base64_text_array = base64_texts.split(',');

										var base64_imagehtml_array = null;
										if(base64_imagehtml)
											base64_imagehtml_array = base64_imagehtml.split(',');

										for(var i = 0; i < base64_text_array.length; i++) {
											var t = base64.utf8to16(base64.decode64(base64_text_array[i]));
											_html += '<p>' + t + '</p>';
											if(base64_imagehtml_array && base64_imagehtml_array.length && base64_imagehtml_array[i])
												_html += base64.utf8to16(base64.decode64(base64_imagehtml_array[i]));
										}
									} else { //只有文字 
										var base64_texts = d.ActDesc.split(',');
										for(var i = 0; i < base64_texts.length; i++) {
											_html += base64.utf8to16(base64.decode64(base64_texts[i]));
										}
									}
								} else if(showImage && showImage.split(',').length > 0) { //初始化 图片类型
									_html += '<p>' + desc + '</p>';
									var imgLng = showImage.split(',').length;
									var imgs = showImage.split(',');
									for(var i = 0; i < imgLng; i++) {
										_html += '<img src="' + imgs[i] + '" />';
									}
								} else { //纯文字类型
									_html += desc;
								}

							} catch(e) {
								//TODO handle the exception
							}
							commoditydesc.innerHTML = _html;
						}

						plus.nativeUI.closeWaiting();
					}
				});
			}

			mui.back = function() { //				plus.nativeUI.toast('访问出错！');
				wv.close();
			}
		</script>
	</body>

</html>